.navbar {
    background-color: #79AC78;
}

.section-title {
    font-family: 'Carattere', cursive;
    font-weight: bold;
}

.navbar-toggler,
.nav-pills .nav-link.active{
    background-color: #fff;
    color: #618264;
}

.nav-pills .nav-link,
#cabecalho {
    color: #fff;
}

#sobre,
#equipamentos {
    background-color: #D0E7D2;
}

section img {
    margin-bottom: 20px;
    display: block;
    width: 100%;
}


section h2,
section h3,
section h4,
section h5 {    
    color: #618264;
}

#equipamentos .nav-link {
    color: #000;
    font-weight: bold;
}

#equipamentos .nav-link.active,
#contato button {
    background-color: #618264;
    color: #fff;
    font-weight: bold;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
    color: #618264;
}